{% extends 'main.html'%}
{% load static %}


{% block content %}

<div class="container">
    <div class="contact-box">
        <div class="left">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d7331.471511155325!2d77.46609653914794!3d23.25270091333701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sen!2sin!4v1728210164251!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="right">
            <h2>Contact Us</h2><hr>
            <form action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="35ea8ce1-914c-44e7-b6d9-1ec1621a239c">
                <input type="text" name="name" required placeholder="Name" class="contact-form-txt">
                <input type="text" name="email" required placeholder="Email" class="contact-form-txt">
                <input type="text" name="phone" required placeholder="Phone Number" class="contact-form-txt">
                <textarea name="message" placeholder="Message" class="contact-form-txtarea"></textarea>
                <input type="submit" class="contact-form-btn">
            </form>
        </div>
    </div>
</div>
{% endblock %}