{% extends 'main.html'%}
{% load static %}


{% block content %}


<div class="profile-container">
    <div class=" light-style flex-grow-1 container-p-y">
        <h3 class="font-weight-bold py-3 mb-4">
            Account settings
        </h3>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="{% url 'CRS:profile' %}">Profile</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="{% url 'CRS:passwordupdate' %}">Change password</a>  
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="{% url 'CRS:logout' %}">
                        Logout</a> 
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body pb-2">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label class="form-label">Old password</label>
                                    <input type="password" name="old_password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" name="new_password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" name="confirm_password" class="form-control">
                                </div>
                                <div class="text-center mt-3">
                                    <button type="button" class="btn btn-success profile-save">Save changes</button>&nbsp;
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </div>
                            </form>    
                        </div>                 
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>





{% endblock %}